#!/usr/bin/env bash
pip install Flask==3.0.0
pip install Flask-Bcrypt== 1.0.1
pip install Flask-Login==0.6.3
pip install Flask-Mail==0.9.1
pip install Flask-Session==0.6.0
pip install Flask-SQLAlchemy== 3.1.1
pip install Flask-WTF==1.2.1
pip install Flask-Migrate==4.0.5
pip install itsdangerous==2.1.2
pip install pyotp==2.9.0
pip install phonenumbers==8.13.29
pip install beautifulsoup4==4.12.3
pip install email-validator==2.1.0.post1
pip install python-dotenv=1.0.1